.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 46px 126px 0 209px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 805px;
  margin: 101px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin: -108px auto 60px 152px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 26px;
    margin-left: 109px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}